# Ignore backend
/backend/venv/
/backend/build/

# Ignore frontend
/frontend/node_modules/
/frontend/.env

# ignore default
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
.DS_Store
.idea/
.vscode/
*.log
